<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:osgi="http://camel.apache.org/schema/osgi"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://camel.apache.org/schema/osgi http://camel.apache.org/schema/osgi/camel-osgi.xsd">

    <bean id="mongoBean" class="com.mongodb.Mongo">
        <constructor-arg index="0">
            <bean class="com.mongodb.MongoURI">
                <constructor-arg index="0" value="mongodb://shachty:workflow@ds031882.mongolab.com:31882/workflow" />
            </bean>
        </constructor-arg>
    </bean>


    <bean id="mongodb" class="org.apache.camel.component.mongodb.MongoDbComponent" />

    <!-- Database managed by Hibernate -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="thePersistenceUnit" />
    </bean>
    
    <!--<camelContext xmlns="http://camel.apache.org/schema/spring">
        <routeBuilder ref="CamelMongoRoute"/>
    </camelContext>-->

</beans>